

<div class="row">

  <div class="large-12 columns">
    <div id='cssmenu'>
      <ul class="center">
         <li class='active'><%= link_to "Home", "#" %></li>
         
         <li><a href='#'><span>Products</span></a></li>
         
         <li><a href="#"><span>View Cart</span></a></li>
         <li><a href="#"><span>Help</span></a></li>
         <li><a href="#"><span>Contact</span></a></li>
         <li><a href="#"><span>Sign In</span></a></li>
         <li class='last'><a href="#"><span>Sign Up</span></a></li>

         
      </ul>


    </div>
</div>
</div>